#canvas {
	border: #000000 1px solid;
	left: 50%;
	top: 50%;
	margin-left: 20px;
	margin-top: 20px;
}

.wrapper {
	text-align: center;
}

#menu.main {
  background: #FF0000;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#game-over {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

#game-paused {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.button {
  display: block;
  width: 15%;
  margin: 1% auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #AA2666;
  color: white;
  font-weight: bold;
  background-color: #FF0000;
  border-radius: 5px;
  text-decoration: none;
}

.button:hover {
  color: #DDDDDD;
  background-color: #DD0000;
}

ul {
  list-style-type: none;
}